<!DOCTYPE html>
<html lang="en">
<head>
    <title>Python Flask Bucket List App</title>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
</head>
<body>
    <div class="container">
        <table id="data-email" border="1" width="600">
            <thead>
                <tr><th>User_email</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Label_Predicted</th></tr>
            </thead>
        </table>
        <button id="fetchEmails">Click_me</button>
    </div>
</body>
<script>
    function fetchData(){
    $("#data-email tbody").empty(); // this will remove all <tr>.
    $.get("http://localhost:5000/getcontent", function(data) {
                        $.each(JSON.parse(data), function(i, email) {
                            $("#data-email").append(
                                "<tr><td>" + email.user_id + "</td>" +
                                "<td>" + email.subject + "</td>" +
                                "<td>" + email.message + "</td>" +
                                "<td>" + email.label + "</td></tr>"
                                );
                        });
                    });
}
$(document).ready(function(){
$('#fetchEmails').click(function() {
    fetchData();
});
});
</script>
</html>